<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<h4>
    Clientes
</h4>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <small>Filtro</small>
                <form class="formulario" [formGroup]="formfiltro" (ngSubmit)="filtrarCliente()">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="porte" name="porte" formControlName="porte">
                                    <option selected disabled> - selecione porte - </option>
                                    <option *ngFor="let item of listaPorte" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nome" name="nome" formControlName="nome">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button type="submit" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-2 col-sm-2 mt-4">
                <button class="btn btn-primary" (click)="incluirCliente()">Incluir</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Porte</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="lista.lenght == 0">
                    <td colspan="4">
                        Nenhum cliente cadastrado.
                    </td>
                </tr>
                <tr *ngFor="let item of lista | slice: (page) * pageSize : (page) * pageSize + pageSize">
                    <td>
                        {{item.id}}
                    </td>
                    <td>
                      <a routerLink="alterar/{{item.id}}">  {{item.nome}} </a>
                    </td>
                    <td>
                        {{item.porte}}
                    </td>
                    <td>
                        <button (click)="excluirCliente(item.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [collectionSize]="lista.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>